<!-- HTML from grip project -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{.Name}}</title>
  <link rel="stylesheet" type="text/css" href="assets/css/syntax.css">
  <link rel="stylesheet" type="text/css" href="assets/css/github.css">
  <style>
    /* Page tweaks */
    .preview-page {
      margin-top: 20px;
    }
    /* User-content tweaks */
    .timeline-comment-wrapper > .timeline-comment:after,
    .timeline-comment-wrapper > .timeline-comment:before {
      content: none;
    }
    /* User-content overrides */
    .discussion-timeline.wide {
      width: 920px;
    }
  </style>
</head>
<body>
  <div class="page">
    <div class="file-wrap container">
      <table class="files js-navigation-container js-active-navigation-container" data-pjax>
        <tbody>
          {{ range $k, $v := .List }}
          <tr class="js-navigation-item">
            <td class="icon">
              <svg class="octicon octicon-file" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"/></svg>
              <img width="16" height="16" class="spinner" alt="" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" />
            </td>
            <td class="content">
              <span class="css-truncate css-truncate-target">
                <a class="js-navigation-open" title="util.go" id="" href="/?f={{ $k }}">{{ $v }}</a>
              </span>
            </td>
            <td class="message">...</td>
            <td class="age"></td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
    <div id="preview-page" class="preview-page" data-autorefresh-url="">
      <div role="main" class="main-content">
        <div class="container new-discussion-timeline experiment-repo-nav">
          <div class="repository-content">
            <div id="readme" class="readme boxed-group clearfix announce instapaper_body md">
              <h3><span class="octicon octicon-book"></span>{{.Name}}</h3>
              <article class="markdown-body entry-content" itemprop="text" id="grip-content">
                {{.Data}}
              </article>
            </div>
          </div>
        </div>
      </div>
  </div>
  <p align="center"><i>Made with </i>■ <i>by <b><a href="https://github.com/hihebark">hihebark</a></b></i></p>
</body>
</html>
