<!-- HTML from grip project -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{.Name}}</title>
  <link rel="stylesheet" type="text/css" href="assets/css/pickle.css">
  <link rel="stylesheet" type="text/css" href="assets/css/syntax.css">
  <link rel="stylesheet" type="text/css" href="assets/css/github.css">
  <style>
    /* Page tweaks */
    .preview-page {
      margin-top: 20px;
    }
    /* User-content tweaks */
    .timeline-comment-wrapper > .timeline-comment:after,
    .timeline-comment-wrapper > .timeline-comment:before {
      content: none;
    }
    /* User-content overrides */
    .discussion-timeline.wide {
      width: 920px;
    }
  </style>
</head>
<body>
  <div class="page">
    <div id="preview-page" class="preview-page" data-autorefresh-url="">
      <div role="main" class="main-content">
        <div class="container new-discussion-timeline experiment-repo-nav">
          <div class="repository-content">
            <div id="readme" class="readme boxed-group clearfix announce instapaper_body md">
              <h3><span class="octicon octicon-book"></span>{{.Name}}</h3>
              <article class="markdown-body entry-content" itemprop="text" id="grip-content">
                {{.Data}}
              </article>
            </div>
          </div>
        </div>
      </div>
  </div>
  <p align="center"><i>Made with </i>■ <i>by <b><a href="https://github.com/hihebark">hihebark</a></b></i></p>
</body>
</html>
